body {
  background-color: ##FFFEF2;
  text-align: center;
}

section h1 {
  color: #BEBEBE;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 30px;
}

ul {
  margin: 0;
  padding: 0;
  background-color: #white;
}

li {
  float: center;
  display: inline-block;
  border: 10px solid #4CAF50;
}


li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header {
  color: #BEBEBE;

}

footer {
  background-color: #BEBEBE;
  padding: 30px;
}
