body {
  background-color: ##FFFEF2;
  text-align: center;
  font-family: Andale Mono,AndaleMono,monospace;
}

#aboutme {
  text-align: left;
  margin-left: 200px;
}

#aboutme p {
  margin-left: 30px;
}

img {
  width: 30%;
  float: right;
}

h1 {
  max-width: 50%;
  display: inline-block;
  font-size: 20px;
  padding: 30px;
}

li a:hover {
  background-color: #111;
  color: white;
  padding: 14px 16px;
}

ul {
  margin: 0;
  padding: 0;
  background-color: #ebecf0;
}

li {
  float: center;
  display: inline-block;
  border: 10px solid #ebecf0;
}


li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header {
  color: #BEBEBE;

}

footer {
  background-color: #ebecf0;
}
